
body{
	overflow-x: hidden;
}


/**** flex *******************************************************/
.g-flex{
	display: flex;
	flex-flow: row nowrap;
}
.g-flex-item{
	flex: 1 1;
}
.g-flex-top{
	align-items: flex-start;
}
.g-flex-middle{
	align-items: center;
}
.g-flex-bottom{
	align-items: flex-end;
}

/**** comm *******************************************************/
@each $val in (12,14,16,18,24,36) {
	.font#{$val} {
		font-size: $val + px !important;
	}
}
a:link,a:visited{
	color: #424242;
}
a:hover{
	color: #333; text-decoration: underline;
}
.tal{text-align: left}
.tac{text-align: center}
.tar{text-align: right}
.whiteBg{background-color: #FFF !important}
.underline{text-decoration: underline}
.minw0{
	min-width: 0;
}
.w100{
	width: 100%;
}
.rotate45{
	transform: rotate(-45deg);
}
.mdui-icon.mdui-icon-mini,.mdui-icon.mdui-icon-mini::before{
	font-size: 16px;
}

.mdui-textarea{
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	font-size: 14px; line-height: 1.5;
	border: 1px solid rgba(0, 0, 0, .12);
	appearance: none; outline: none; box-shadow: none;
}
.mdui-list-default .mdui-list-item{cursor: default;}
.mdui-list-default .mdui-list-item:hover{background-color: transparent !important;}

@media screen and (min-width: 1000px) {
	.layout-main{
		max-width: 1000px;
		margin-left: auto; margin-right: auto;
	}
}




/**** animation *******************************************************/

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}








